.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrage des éléments */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px;
  margin: 2rem auto;
}

.categories-header {
  width: 100%;
  text-align: center; /* Centre le titre et la ligne hr */
  margin-bottom: 20px; /* Espacement entre le header et les cartes */
}

.categories-title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 0;
  font-family: "Russo One", sans-serif;
}

.categories-title_subline {
  width: 80px; /* Ajustez la largeur selon vos préférences */
  height: 4px; /* Épaisseur de la ligne */
  background-color: rgb(247, 148, 29);
  margin: 5px auto; /* Centrer la ligne et ajouter un espace entre le h2 et la ligne */
  border: none;
}

.category-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: calc(33.333% - 20px); /* 3 cartes par ligne, ajuster le gap */
  max-width: 320px; /* Limite la largeur de chaque carte */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.category-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.category-title {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.explore-btn {
  background-color: #f7941d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.explore-btn:hover {
  background-color: #d9831a;
}

/* Styles pour les écrans mobiles */
@media (max-width: 768px) {
  .categories-container {
    flex-direction: column;
    align-items: center;
  }

  .categories-title {
    font-size: 1.8em;
    justify-content: center;
  }

  .categories-title_subline {
    position: relative;
    margin-bottom: 3rem;
    height: 0.5rem;
  }

  .category-card {
    width: 90%; /* Ajuste la largeur des cartes en affichage mobile */
    margin-bottom: 20px;
  }
}
